<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>bushangban</string>
	<key>AVOSCloudAppKey</key>
	<string>MDOagSCTlLw9A6fkrcaphlB8</string>
	<key>AVOSCloudAPPID</key>
	<string>fdOqfdJ3Ypgv6iaQJXLw7CgR-gzGzoHsz</string>
	<key>AVOSCloudMasterKey</key>
	<string>5HuFJiGS7F9daaWM5r9wHRVx</string>
	<key>shareSDKSinaWeiboAppKey</key>
	<string>1701171842</string>
	<key>shareSDKWeChatappSecret</key>
	<string>17b1e9d6437f831f5931f576fdcd4ed2</string>
	<key>shareSDKWeChatAppId</key>
	<string>wx7f73ba75d829ffa9</string>
	<key>shareSDKSinaWeiboRedirectUrl</key>
	<string>http://open.weibo.com/apps/1701171842/info/advanced</string>
	<key>shareSDKSinaWeiboAppSecret</key>
	<string>62d3a4f2b2c8c00599f05a5e675dcbea</string>
</dict>
</plist>
